/*ALL*/
html, body{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	width: 100%;
}
/*DISPLAY NONE*/
	.hamburger,
	.trsebandsblock,
	.mobilecolumn1,
	.mobilecolumn2,
	.mobilecolumn3,
	.mobilemenu,
	#pcolumn4,
	.arrowtotop{
		display: none;
	}
/***HEADER***/
	.header{
		background-color: rgba(0,0,0,0.5);
		top: 0;
		left: 0;
		position: fixed;
		transition: .2s;
		width: 100%;
		z-index: 100;
	}
	.headercontainer{
		margin: 0 auto;
		max-width: 1200px;
		overflow-x: hidden;
	}
	.hbackground{
		background-color: rgba(0,0,0,0.5);
		transition: .2s;
	}
	.headerlogos{
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 90%;
	}
	.headerlogos img{
		max-width: 100px;
	}
	.headerlogos a{
		color: #fff;
		text-decoration: none;
	}
	#htrse img{
		max-width: 65px;
	}
	#h3kg img{
		max-width: 70px;
	}
	#hmodeling{
		font-family: 'Montserrat', sans-serif;
	}
/*M**MOBILE BURGER**M*/
	.hamburger{
	    width: 70px;
	    height:70px;
	    position: absolute;
	    top: 35px;
	    left:40px;
	    z-index: 900;
	}
	.hamburger span{
	    position: absolute;
	    width: 70px;
	    height: 6px;
	    background-color: red;
	}
	.burger1{
	    top: 10px;
	    transition: .3s linear;
	}
	.burger2{
	    top:27px; 
	    transition: .3s linear;
	}
	.burger3{
	    top: 44px; 
	    transition: .3s linear;	
	}
	.hamburger:hover{
		cursor: pointer;
	}
	.burger12{
		background-color: #fff !important;
	    position: absolute;
	    transform: rotate(45deg) translate(12px,15px);
	    transition: .3s linear;
	}
	.burger22{
		background-color: #fff !important;
		color: #fff;
	    opacity: 0;
	    transition: .3s linear;
	}
	.burger32{
		background-color: #fff !important;
		color: #fff;
	    position: absolute;
	    transform: rotate(-45deg) translate(9px,-10px);
	    transition: .3s linear;
	}
	.burgercontainer{
		position: relative;
		width: 100%;
	}
	.burgerwrapper{
		border-bottom: 5px solid #fff;
		border-top: 5px solid #fff;
		margin: 0 auto;
		padding: 40px 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
	.burgerwrapper p{
		margin-bottom: 15px;
	}
	.burgerwrapper a{
		color: #fff;
		font-family: 'bn1';
		font-size: 36px;
		text-shadow: 3px 3px #000;
		transition: .2s;    	
	}
	.burgersocialmedia i{
		padding: 0 15px;
	}
	.burgerwrapper a:hover{
		color: #770808;
	}
	.opacitycss{
		opacity: .6;
		transition: 1s;
	}
	}
/*M**BACKGROUNDMOBILE**M*/
	.mobilemenu{
		height: 50px;
		left: 0;
		position: absolute;
		top: 0;
		z-index: 1000;
		color: red;
	}
/***MAIN BANNER***/
	.mainbanner{
		position: relative;
		width: 100%;
	}
	.mainbannerphotos{
		margin: 0 auto;
		max-width: 1500px;
		position: relative;
		text-align: center;
	}
	.mainbannerphotos img{
		max-width: 100%;
		width: 100%;
	}
	.mainbannertext{
		right: 0%;
	    left: 6%;
	    position: absolute;
	    bottom: 70px;
	    margin: 0 auto;
	    max-width: 1500px;
	    z-index: 10;
	}
	.mainbannertext h1{
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 3.4375rem;
		font-weight: 100;
		margin: 0;
		text-shadow: 2px 2px 5px #000;
	}
	.mobilemenutitle h1{
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 55px;
		font-weight: 100;
		margin: 0;
		text-shadow: 2px 2px 5px #000;
		/*-webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: black;*/
	}
	.mainbannertext i{
		color: #fff;
		font-size: 35px;
		padding-left: 4px;
		text-shadow: 2px 2px 5px #000;
		transition: 1s;
	}
	.mainbannertext i:hover{
		color: rgba(255, 0, 0, 1);
		transition: 1s;
	}

	#kenny1{
		margin-top: -130px;
	}
	/*#kenny2{
		margin-top: -80px;
	}
	#kenny3{
		margin-top: -60px;
	}
	#kenny4{
		margin-top: -150px;
	}*/
		/*SCROLL DOWN ARROW*/
			.scroll-down {
				position: absolute;
				left: 50%;
				bottom: 30px;
				display: block;
				text-align: center;
				font-size: 20px;
				z-index: 100;
				text-decoration: none;
				text-shadow: 0;
				width: 30px;
				height: 30px;
				border-bottom: 5px solid #fff;
				border-right: 5px solid #fff;
				z-index: 9;
				left: 50%;
				transition: all 1s linear;
				-webkit-transform: translate(-50%, 0%) rotate(45deg);
				-moz-transform: translate(-50%, 0%) rotate(45deg);
				transform: translate(-50%, 0%) rotate(45deg);
				-webkit-animation: fade_move_down 2s ease-in-out infinite;
				-moz-animation:    fade_move_down 2s ease-in-out infinite;
				animation:         fade_move_down 2s ease-in-out infinite;
			}
			/*animated scroll arrow animation*/
			@-webkit-keyframes fade_move_down {
			  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
			  50%  { opacity: 1;  }
			  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
			}
			@-moz-keyframes fade_move_down {
			  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
			  50%  { opacity: 1;  }
			  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
			}
			@keyframes fade_move_down {
			  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
			  50%  { opacity: 1;  }
			  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
			}
/***BOURBON ST***/
	.bourbonst,
	.trse,
	.threekg{
		background-color: rgba(0,0,0,0);
		margin: 0 auto;
		max-width: 1200px;
	}
	.bourboncontainer,
	.threekgcontainer,
	.modelingcontainer{
		margin: 0 auto;
		padding: 10px 0 100px 0;
		text-align: center;
		width: 100%;
	}
	#bourbonst{
		margin-top: -80px;
		padding-top: 80px;
	}
	#trse,
	#threekg,
	#theboybandnight,
	#theronburgundys,
	#thecountrynight,
	#motownnation,
	#thehairbandnight,
	#modeling{
		margin-top: -75px;
		padding-top: 75px;
	}
	.bourbonlogo img{
		max-width: 350px;
	}
	.trse img,
	.threekg img{
		max-width: 275px;
	}
	.bourbontitle,
	.trsetitle,
	.threekgtitle{
		text-align: center;
	}
	.trsetitle{
		padding-top: 20px;
	}
	.modelingtitle{
		display: flex;
		flex-direction: column;
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;
		margin: 0;
		padding: 10px 0 20px 0;
	}
	h3{
		color: #000;
		font-family: 'Montserrat', sans-serif;
		font-size: 70px;
		margin: 0;
	}
	.bourbontitle a,
	.trsetitle a,
	.threekg a,
	.modelingtitle a{
		color: #000;
		font-family: 'Montserrat', sans-serif;
		font-size: 22px;
		text-decoration: none;
		transition: 1s;
	}
	.bourbontitle a:hover,
	.trsetitle a:hover,
	.threekg a:hover,
	.modeling a:hover{
		color: rgba(255, 0, 0, 1);
		transition: 1s;
	}
	.bourbontext,
	.trsetext,
	.threekgtext{
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		margin: 0 auto;
		max-width: 800px;
		text-align: center;
	}
	.roombutton{
		border: 2px solid #000;
		margin: 0 auto;
		padding: 10px 0;
		transition: 1s;
		width: 200px;
	}
	#roombutton{
		color: #000;
		font-family: 'Montserrat', sans-serif;
		padding: 5px 10px;
		text-decoration: none;
	}
	.roombutton:hover{
		border: 2px solid red;
		color: red;
		cursor: pointer;
		transition: 1s;
	}
/***TRSE***/
	.trsecontainer{
		margin: 0 auto;
		padding: 10px 0 10px 0;
		text-align: center;
		width: 100%;
	}
	.trsebands{
		width: 100%;
	}
	.trsebands img{
		max-height: 125px;
	}
	.trsebandcolumn{
		align-items: center;
		display: flex;
		justify-content: space-around;
		padding: 30px 0 10px 0;
	}
	.band .jarallax{
		min-height: 600px;
	}
	.band{
		margin: 0 auto;
		max-width: 1500px;
		position: relative;
	}
	.bandinfo{
		bottom: 2%;
		left: 0;
		position: absolute;
		width: 100%;
	}
	.bandinfocontainer{
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 98%;
	}
	.bandtext{
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		padding-bottom: 10px;
		text-shadow: 2px 2px 5px #000;
		z-index: 9;
	}
	/*.bandtext p{
		margin: 10px 0;
	}
	.bandtext a{
		color: #fff;
		text-decoration: none;
		transition: 1s;
	}*/
	.bandtext i{
		color: #fff;
		font-size: 45px;
		padding: 0 5px;
		transition: 1s;
	}
	.bandtext i:hover{
		transition: 1s;
		z-index: 100;
	}
	#tbbnhover:hover{
		color: #00A8BE;
	}
	#trbhover:hover{
		color: #E4BD70;
	}
	#tcn1hover:hover{
		color: #B22234;
	}
	#tcn3hover:hover{
		color: #3C3B6E;
	}
	#mtnhover:hover{
		color: #D129E0;
	}
	#thbnhover:hover{
		color: red;
	}
	.bandlogo img{
		max-width: 400px;
	}
	#logo300{
		max-width: 300px;
	}
	#smallerlogo{
		max-width: 350px;
	}
	.tbbnbackground{
		background-color: #00A8BE;
		transition: .2s;
	}
	.trbbackground{
		background-color: #E4BD70;
		transition: .2s;
	}
	.tcnbackground{
		background-color: rgba(0,0,0,0);
		background-image: url('../media/images/american-flag.jpg');
		background-position: center -40px;
		background-size: cover;
		transition: .2s;
	}
	.mtnbackground{
		background-color: #D129E0;
		background-image: none;
		transition: .2s;
	}
	.thbnbackground{
		background-color: black;
		transition: .2s;
	}	
/***MODELING***/
	.modelingsection{
		max-height: 900px;
		position: relative;
		width: 100%;
	}
	.photos{
		background-color: #000;
		margin: 0 auto;
		max-width: 1500px;
		overflow-x: hidden;
		width: 100%;
	}
	.photoscontainer{
		display: flex;
	}
	.photocolumns{
		align-items: center;
		display: flex;
		max-width: 33.4%;
	}
	#pcolumn1,
	#pcolumn2,
	#pcolumn3{
		display: block;
		width: 100%;
		opacity: .3;
	}
	#pcolumn1 img,
	#pcolumn2 img,
	#pcolumn3 img{
		min-width: 450px;
	}
	.modeling{
		left: 0;
		position: absolute;
		top: 140px;
		width: 100%;
		z-index: 3;
	}
	.flagicons img{
		max-width: 300px;
	}
	.modelinglogo h3{
		color: #fff;
	}
	.modelingportfoliocontainer{
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.modelingportfolio a{
		color: #fff;
		font-size: 40px;
	}
	#modelingtitle2,
	#agencies{
		color: #fff;
		font-family: 'Montserrat', sans-serif;
    	font-size: 36px;
	}
	.modelingheading p{
		font-size: 5px;
		margin: 30px 0;
		padding: 10px 0;
		width: 100%;
	}
	.modelingheading{
		align-items: center;
		display: flex;
		margin: 0 auto;
		justify-content: center;
		width: 400px;
	}
	.modelheadingcontainer{
		margin: 0 auto;
		width: 100%;
	}
	.modelingheading img{
		max-width: 130px;
	}
	.modelagencies p{
		margin: 0;
		padding: 8px 0;
	}
	.modelagencies a{
		color: rgba(255, 255, 255, .6);
		font-size: 24px;
	}
	#agencies{
		margin: 0 auto;
		padding-bottom: 10px;
		width: 100%;
	}
	.modeling h3,
	.modelingportfolio a,
	#agencies{
		font-weight: 100;
	}
/***FOOTER***/
	.footer{
		background-color: #000;
		bottom: 0;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
		z-index: 100000;
	}
	.footercontainer{
		margin: 0 auto;
		padding-top: 45px;
		width: 90%;
	}
	.footercontainer{
		display: flex;
		justify-content: space-between;
	}
	.footerleft,
	.footerright{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.footerleft{
		padding-top: 10px;
	}
	.footerleft img{
		max-width: 350px;
	}
	.footerright{
		text-align: right;
	}
	.footerright a{
		color: #fff;
		text-decoration: none;
		transition: .5s;
	}
	.footerright a:hover,
	.footerright i:hover{
		color: red;
		transition: .5s;
	}
	.footerright i{
		color: #fff;
		font-size: 24px;
		padding-left: 5px;
		transition: .5s;
	}
/***ARROW TO TOP***/
	.arrowtotop{
		bottom: 5px;
		opacity: .3;
		position: fixed;
		right: 10px;
		transition: .3s;
		z-index: 9999999;
	}
	.arrowtotop i{
		border: 2px solid #fff;
		box-shadow: 2px 2px #000;
		color: #fff;
		font-size: 36px;
		padding: 5px;
		text-shadow: 2px 2px 2px #000;
	}
	.arrowtotop:hover{
		background-color: red;
		opacity: 1;
		transition: .3s;
	}
	.arrowon{
		display: block;
		transition: .5s;
	}
/***MEDIA QUERIES***/
@media(max-width:1210px){
	.mainbannertext{
		bottom: 50px;
		}
	#kenny1{
		margin-top: -110px;
	}
	}
@media(max-width:1180px){
	.trsebands img{
		max-height: 110px;
	}
	}
@media(max-width:1175px){
	.mainbannertext{
		bottom: 20px;
		}
	}
@media(max-width:1170px){
	.column3,
	.column4{
		display: none;
	}
	.modelingphotos{
		width: 25%;
	}
	}
@media(max-width:1100px){
	#kenny1{
		margin-top: -90px;
	}
	}
@media(max-width:1090px){
	.trsebands img{
		max-width: 175px;
		min-width: 175px;
	}
	}
@media(max-width:1000px){
	.bandlogo img{
		max-width: 300px;
	}
	#logo300{
		max-width: 250px;
	}
	}
@media(min-width:500px) and (max-width:1000px){
	#pcolumn1,
	#pcolumn2{
		max-width: 50%;
	}
	#pcolumn3{
		display: none;
	}
	}	
@media(max-width:980px){
	#kenny1{
		margin-top: -70px;
	}
	}
@media(max-width:900px){
	.trsetitle{
		padding-bottom: 20px;
	}
	.trsebands{
		display: none;
	}
	.trsebandsblock{
		display: flex;
		width: 100%;
	}
	.trsebandcolumnblock{
		width: 100%;
	}
	.trsebandbreak{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 700px;
	}
	.trsebandbreak img{
		max-width: 300px;
		min-width: 300px;
	}
	.trsebandbreak1{
		padding: 10px 0;
	}
	.trsebandbreak2{
		padding-top: 10px;
	}
	#trsebottombandlogo{
		justify-content: center;
	}
	#tcnblockimage{
		max-width: 290px;
		min-width: 290px;
	}
	.column5{
		display: none;
	}
	.modelingphotos{
		width: 33.3%;
	}
	}
@media(max-width:865px){
	#kenny1{
		margin-top: -50px;
	}
	}
@media(max-width:830px){
	.bourbontext,
	.trsetext,
	.threekgtext{
		padding: 0 20px;
	}
	}
@media(max-width:800px){
	.header,
	.mainbannertext{
		display: none;
	}
	.mainbanner{
		position: relative;
	}
	.hamburger{
		display: block;
	}
	.hamburger{
	    top: 5px;
	    left:15px;
	}
	.hamburger span{
	    width: 30px;
	    height: 3px;
	}
	.burger1{
	    top: 10px;
	    transition: .3s;
	}
	.burger2{
	    top:17px;
	    transition: .3s; 
	}
	.burger3{
	    top: 24px;
	    transition: .3s; 
	}
	.hamburger:hover{
		cursor: pointer;
	}
	.burger12{
		background-color: #fff !important;
		opacity: .3;
	    position: absolute;
	    transform: rotate(45deg) translate(6px,5px);
	    transition: .3s linear;
	}
	.burger22{
		background-color: #fff !important;
		opacity: .3;
		color: #fff;
	    opacity: 0;
	    transition: .3s linear;
	}
	.burger32{
		background-color: #fff !important;
		opacity: .3;
		color: #fff;
	    position: absolute;
	    transform: rotate(-45deg) translate(4px,-4px);
	    transition: .3s linear;
	}
	.mobilemenu{
		background-color: rgba(0,0,0,0.5);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		z-index: 800;
		width: 100%;
	}
	.mobilehover{
		margin-top: 150px;
		transition: .5s;
	}
	.mobilemenucontainer{
		height: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		width: 90%;
		z-index: 900;
	}
	.mobilemenutitle{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
	}
	/*.mobilemenulogos{
		padding-top: 100px;
	}*/
	.mobilemenulogosbox{
		align-items: center;
		display: flex;
		justify-content: space-around;
	}
	.mobilemenulogosrow1,
	.mobilemenulogosrow2{
		align-items: center;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	.mobilemenulogos img{
		max-height: 45px;
		max-width: 100px;
	}
	/*.mobilemenutitle{
		margin: 150px 0;
	}*/
	.mobilemenutitle h1{
		font-size: 60px;
		/*padding-bottom: 10px;*/
	}
	/*#modelingmenu{
		padding-top: 20px;
	}*/
	/***MOBILE SOCIAL MEDIA***/
	.mobilemenusocialmedia{
		width: 100%;
	}
	.mobilemenusocialmediacontainer{
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: 98%;
	}
	.mobilemenusocialmediaicons{
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	.mobilemenu i{
		color: #fff;
		font-size: 40px;
		padding: 5px 5px 5px 5px;
		text-shadow: 1px 2px 5px #000;	
	}
	.flagicons img{
		max-width: 150px;
	}
	.mobilemenu i{
		font-size: 25px;
	}
	.mobilemenulogos img{
		max-height: 60px;
		max-width: 120px;
	}/***TRSE***/
	.bandlogo img{
		max-width: 250px;
	}
	#logo300{
		max-width: 175px;
	}
	#trse, 
	#threekg, 
	#theboybandnight, 
	#theronburgundys, 
	#thecountrynight, 
	#motownnation, 
	#thehairbandnight, 
	#modeling {
    	margin-top: -35px;
    	padding-top: 35px;
    }
	#kenny1{
		margin-top: -110px;
	}
	/***MODELING***/
	#modeling{
		margin-top: 0;
		padding-top: 0;
	}
	.modelingportfoliocontainer{
		padding: 20px 0;
	}
	}
@media(min-width:800px){
	.mobilemenu,
	.mobilemenucontainer{
		display: none;
	}
	}
@media(max-width:770px){
	/***FOOTER***/
	.footer{
		position: relative;
	}
	.footercontainer{
		align-items: center;
    	flex-direction: column;
    	padding-top: 10px;
	}
	.footerleft,
	.footerright{
		text-align: center;
	}
	}
@media(max-width:730px){
	.trsebandbreak{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 600px;
	}
	.trsebandbreak img{
		max-width: 260px;
		min-width: 260px;
	}
	#tcnblockimage{
		max-width: 250px;
		min-width: 250px;
	}
	}
@media(max-width:700px){
	.bandtext i{
		font-size: 40px;
	}
	.photos{

	}
	}
@media(max-width:680px){
	.column2{
		display: none;
	}
	.modelingphotos{
		width: 50%;
	}
	}
@media(max-width:670px){
	#kenny1{
		margin-top: -90px;
	}
	}
@media(max-width:635px){
	.mobilemenulogos img{
		max-height: 50px;
		max-width: 100px;
	}
	.trsebandsblock{
		display: none;
	}
	.trsebands{
		display: flex;
	}
	.trsebandcolumn{
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
	.trsebands img{
		max-height: none;
		max-width: 350px;
		min-width: 350px;
		padding: 20px 0;
	}
	#thbnmainlogo,
	#mtnmainlogo,
	#tcnmainlogo{
		max-width: 300px;
		min-width: 300px;
	}
	#pcolumn1{
		max-width: 635px;
	}
	#pcolumn2{
		display: none;
	}
	.modeling{
		height: 108%;
		top: 0;
	}
	#modeling{
		margin-top: 0;
		padding-top: 0;
	}
	.modelingcontainer{
		flex-direction: column;
	    display: flex;
	    height: 100%;
	    justify-content: space-between;
	}
	.modelingtitle{
		padding-bottom: 180px;
	}
	.modeling h3,
	.modelingportfolio a,
	#agencies{
		font-weight: 100;
	}
	}
@media(max-width:580px){
	.trsebands img{
		max-width: 290px;
		min-width: 290px;
	}
	.trsebands#thecountrynight,
	.trsebands#thehairbandnight{
		max-width: 275px;
		min-width: 275px;
	}
	}
@media(max-width:540px){
	body{
		overflow-x: hidden;
	}
	#kenny1{
		margin-top: -30px;
		transform: scale(1.5);
	}
	#bourbonst{
		margin-top: 85px;
		padding-top: 0;
	}
	#trse,
	#threekg,
	#theboybandnight,
	#theronburgundys,
	#thecountrynight,
	#motownnation,
	#thehairbandnight{
		margin-top: 0;
		padding-top: 0;
	}
	.mobilemenu{
		height: 126%;
		width: 101%;
	}
	.mobilemenusocialmediacontainer{
		margin: 140px auto 0 auto;
		width: 100%;
	}
	.mobilemenu h1{
		font-size: 45px;
	}
	.flagicons img{
		max-width: 150px;
	}
	.mobilemenutitle{
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    height: 80%;
	    width: 100%;
	}
	.mobilemenu i{
		font-size: 25px;
	}
	.mobilemenulogosrow1{
		flex-direction: row;
	}
	.mobilemenulogosrow2{
		flex-direction: row-reverse;
	}
	.mobilemenulogos img{
		max-height: 45px;
		max-width: 100px;
	}
	#bannerarrow{
		bottom: -55px;
	}
	/***TRSE***/
	.band .jarallax{
		min-height: 250px;
	}
	.bandlogo img{
		max-width: 200px;
	}
	/***MODELING***/
	.modeling{
		height: 108%;
		top: 0;
	}
	#modeling{
		margin-top: 0;
		padding-top: 0;
	}
	.modelingcontainer{
		flex-direction: column;
	    display: flex;
	    height: 100%;
	    justify-content: space-between;
	}
	.modelingtitle{
		padding-bottom: 180px;
	}
	.modeling h3,
	.modelingportfolio a,
	#agencies{
		font-weight: 100;
	}
	}
/***IPHONE PORTRAIT***/
@media only screen and (min-device-width : 375px) and (max-device-width : 736px){
	*{
		overflow-x: hidden;
	}
	/***DISPLAY NONE***/
	.header,
	.mainbannertext,
	.trsebands,
	.modelingphotos,
	#pcolumn1,
	#pcolumn2,
	#pcolumn3{
		display: none;
	}
	.hamburger{
		display: block;
	}
	.mobilemenu{
		background-color: rgba(0,0,0,0.5);
		box-shadow: 2px 2px 2px red;
		height: 1445px;
		left: 0;
		position: absolute;
		top: 0;
		z-index: 800;
		width: 100%;
	}
	.mobilehover{
		margin-top: 150px;
		transition: .5s;
	}
	.mobilemenucontainer{
		height: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		width: 90%;
		z-index: 900;
	}
	.mobilemenulogos{
		padding-top: 100px;
	}
	.mobilemenulogosbox{
		align-items: center;
		display: flex;
		justify-content: space-around;
	}
	.mobilemenulogosrow1,
	.mobilemenulogosrow2{
		display: flex;
		flex-direction: column;
		height: 600px;
		justify-content: space-around;
	}
	.mobilemenutitle{
		margin: 150px 0;
	}
	.mobilemenutitle h1{
		font-size: 120px;
		padding-bottom: 10px;
	}
	#modelingmenu{
		padding-top: 60px;
	}
	/***MOBILE SOCIAL MEDIA***/
	.mobilemenusocialmedia{
		width: 100%;
	}
	.mobilemenusocialmediacontainer{
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: 98%;
	}
	.mobilemenusocialmediaicons{
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	.mobilemenu i{
		color: #fff;
		font-size: 70px;
		padding: 5px 5px 5px 5px;
		text-shadow: 1px 2px 5px #000;	
	}
	.flagicons img{
		max-width: 300px;
	}
	#middlemobilesocialmedia{
		padding: 0 15px;
	}
	.mobilemenulogos img{
		max-height: 220px;
		padding: 30px 0;
	}

	.mainbannerphotos{
		height: 1550px;
	}
	#kenny1{
		margin-left: 30px;
		margin-top: 200px;
		transform: scale(2.8);
	}
	#bourbonst{
		margin-top: 0;
		padding-top: 0;
	}
	#trse,
	#threekg,
	#theboybandnight,
	#theronburgundys,
	#thecountrynight,
	#motownnation,
	#thehairbandnight,
	#modeling{
		margin-top: 0;
		padding-top: 0;
	}
	.scroll-down {
		position: absolute;
		left: 44.5%;
		bottom: 70px;
		display: block;
		text-align: center;
		font-size: 200px;
		z-index: 100;
		text-decoration: none;
		text-shadow: 0;
		width: 100px;
		height: 100px;
		border-bottom: 5px solid #fff;
		border-right: 5px solid #fff;
		z-index: 9;		
	}
	h2{
		font-size: 80px;
		padding: 40px 0;
	}
	.bourbontitle a,
	.trsetitle a,
	.threekg a, 
	.modelingtitle a{
		font-size: 50px;
	}
	#kennyemail{
		padding-top: 20px;
	}
/***BOURBON ST MOBILE***/
	.bourbonlogo img{
		max-width: 700px;
	}
	.bourbontext,
	.trsetext{
		font-size: 45px;
		padding: 20px 0;
	}
	.bourbontext p,{
		margin: 0;
	}
	.roombutton{
		border-width: 5px;
		padding: 20px 10px;
		width: 400px;
	}
/***TRSE MOBILE***/
	.trselogo img{
		max-width: 600px;
		padding-top: 10px;
	}
	#trsecom{
		font-size: 40px;
	}
	.trsebandsblock{
		display: flex;
		margin-top: 50px;
	}
	.trsebandcolumnblock{
		margin: 0 auto;
		width: 80%;
	}
	.trsebandsblock img{
		max-width: 350px;
	}
	.trsebandbreak1,
	.trsebandbreak2{
		display: flex;
		justify-content: space-between;
	}
	.trsebandbreak2{
		padding-top: 40px;
	}
	.bandtext{
		padding-bottom: 30px;
	}
	.bandtext i{
		font-size: 85px;
	}
	.bandlogo img{
		max-width: 400px;
	}
	#logo300{
		max-width: 350px;
	}
	#theboybandnight i{
		color: #00A8BE;
	}
	#theronburgundys i{
		color: #E4BD70;
	}
	#tcn1hover{
		color: #B22234;
	}
	#tcn3hover{
		color: #3C3B6E;
	}
	#mtnhover{
		color: #D129E0;
	}
	#thbnhover{
		color: red;
	}
/***3KG***/
	.threekg{
		height: 100%;
	}
	.threekglogo img{
		max-width: 600px;
		padding-top: 20px;
	}
	.threekgtext{
		font-size: 45px;
	}
/***MODELING***/
	/***MODELING***/
	.modelingsection{
		height: 100%;
		max-height: 1475px;
		min-height: 1475px;
	}
	.photos{
		height: 1475px;
	}
	.photoscontainer{
		height: 100%;
	}
	.photocolumns{
		max-width: 100.2%;
	}
	#pcolumn4{
		display: block;
	}
	.modeling{
		height: 1200px;
		top: 100px;
	}
	.modelingcontainer{
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 0;
	}
	.modelinglogo h3{
		font-size: 150px;
		font-weight: 100;
		padding-bottom: 20px;
	}
	.modelingheading{
		padding-top: 50px;
	}
	.modeling .modelingtitle a{
		font-size: 60px;
	}
	.modelingheading #agencies{
		font-size: 80px;
		padding-bottom: 90px;
	}
	.modelagencies p{
		padding-bottom: 50px;
	}
	.photocolumns img{
		opacity: .5;
	}
/***FOOTER***/
	.footercontainer{
		align-items: center;
		flex-direction: column;
	}
	.footerleft{
		display: flex;
		justify-content: center;
	}
	.footerleft p,
	.footerright p{
		font-size: 36px;
	}
	.footerright i{
		font-size: 65px;
		padding: 0 5px;
	}
	.footerleft img{
		margin: 0 auto;
		max-width: 750px;
	}
	.footerleft,
	.footerright{
		text-align: center;
	}
/***ARROW TO TOP***/
	.arrowtotop{
		bottom: 15px;
		right: 20px;
	}
	.arrowtotop i{
		font-size: 100px;
		padding: 10px;
	}
	.arrowtotop:hover{
		background-color: rgba(0,0,0,0);
	}